Django>=5.0,<5.1
djangorestframework
djangorestframework-simplejwt
mysqlclient
django-environ
celery
redis
django-filter
drf-spectacular
channels
channels-redis
daphne
django-debug-toolbar
pytest
pytest-django
factory-boy
pytest-cov